*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    margin: 0;
    font: 1.6rem $main-font-regular;
    color: #000;
    background-color: #fff;
}

img {
    width: 100%;
    height: auto;
}

#page {
    overflow: hidden;
}

h1,
h2,
h3,
p {
    margin: 0 0 10px;
}

.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}
