$breakpoints: (
    phone: 480px,
    tablet: 768px,
    desktop: 1024px
);

$main-font-regular: 'robotoregular', Arial, Helvetica, sans-serif;

$main-font-bold: 'robotobold', Arial, Helvetica, sans-serif;

$main-font-light:'robotolight', Arial, Helvetica, sans-serif;

$yel-color: #ffea00;

$yel-background: #ffea00;