.banner-wrapper {
    margin: -138px 0 0;
    @include media('<tablet') {
        display: none;
    }
}

.banner-list {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    max-height: 100vh;
    overflow: hidden;
}

.prev-arrow {
    position: absolute;
    top: 45%;
    left: -70px;
    background-color: #fff;
    z-index: 2;
    text-align: center;
    padding: 70px;
    transform: rotate(45deg);
    cursor: pointer;
    transition: all 0.5s ease-out 0s;
    @include media('<=desktop') {
        padding: 50px;
    }
    &:hover {
        color: $yel-color;
    }
    .icon-left-arrow {
        font-size: 4.5rem;
        font-weight: bold;
        position: absolute;
        transform: rotate(-45deg);
        right: 20px;
        top: 20px;
        @include media('<=desktop') {
            font-size: 3rem;
            right: 5px;
            top: 5px;
        }
    }
}

.next-arrow {
    position: absolute;
    top: 45%;
    right: -70px;
    background-color: #fff;
    z-index: 2;
    text-align: center;
    padding: 70px;
    transform: rotate(-45deg);
    cursor: pointer;
    transition: all 0.5s ease-out 0s;
    @include media('<=desktop') {
        padding: 50px;
    }
    &:hover {
        color: $yel-color;
    }
    .icon-right-arrow {
        font-size: 4.5rem;
        font-weight: bold;
        position: absolute;
        transform: rotate(45deg);
        left: 20px;
        top: 20px;
        @include media('<=desktop') {
            font-size: 3rem;
            left: 5px;
            top: 5px;
        }
    }
}
