.call-order{
    outline: none;
    border: none;
    font-size: 1.8rem;
    color: #f9bf3a;
    padding: 10px 56px;
    border-radius: 22px;
    background-color: #fff;
    float: right;
    @include media('<tablet'){
        margin: 0 0 15px;
        float: none;
    }
    &:hover{
        background-color: #bfb0b0;
        color: #fcfaf6;
    }
}