.logo-holder {
    .logo-name {
        font-size: 2rem;
        color: #fff;
        text-shadow: 1px 1px 5px rgba(0, 0, 0, .45);
    }
    .logo-place {
        display: block;
        font-size: 4.8rem;
        color: $yel-color;
        text-shadow: 1px 1px 5px rgba(0, 0, 0, .45);
        text-transform: uppercase;
        font-family: 'fira_sansbold', Arial, Helvetica, sans-serif;
    }
}
