.main-sidebar {
    width: 256px;
    position: relative;
    padding: 82px 26px;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: -9999px;
        background-color: #f5f5f5;
    }
}